name: Deploy to AWS

on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - uses: aws-actions/setup-sam@v2
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Install Global dependencies
        run: pnpm install --global concurrently cross-env
      - name: Build
        run: pnpm build
      - name: Deploy server
        run: pnpm -r --filter=server run deploy --parameter-overrides "JwtSecret=\"${{ secrets.JWT_SECRET }}\" SsutodaySecret=\"${{ secrets.SSUTODAY_SECRET }}\""
      - name: Deploy client
        run: pnpm -r --filter=client run deploy
