name: Check code

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - name: Enable corepack
        run: corepack enable
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Build client
        run: pnpm -r --filter=client build
      - name: Run prettier check
        run: pnpm -r prettier
      - name: Run eslint in server and types
        run: pnpm -r --filter=!client lint
      - name: Run eslint on changed files in client
        uses: tj-actions/eslint-changed-files@v25
        with:
          path: "./packages/client"
          file_extensions: "**/*.{ts, svelte}"
      - name: Run svelte-check
        run: pnpm -r check
