name: OpenAPI Document Generation

on:
  workflow_dispatch:
  push:
    branches:
      - dev

permissions:
  pages: write
  id-token: write

jobs:
  openapi-gen:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Generate Swagger UI
        uses: Legion2/swagger-ui-action@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          output: swagger-ui
          spec-file: "packages/server/api.yaml"
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: swagger-ui
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
